* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-opacity: 1;
    --background-color: rgb(15 23 42/var(--bg-opacity));
    --paragraph-gray: #ACB6C3;
    --paragraph-white: #ffffff;
    --border-color: #334155;
    --font-weight: 500;
    --font-size: 0.875rem;
    --line-height: 1.5715;
    --text-decoration: inherit;
}

body {

    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 2rem 2rem 2rem 2rem;
}

.css-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 2rem;
}

.css-signin-button {
    color: var(--paragraph-gray);
    font-size: 0.875rem;
    line-height: 1.5715;
    font-weight: 500;
    text-decoration: inherit;
}
.css-signin-button:hover {
    color: var(--paragraph-white);
    font-size: 0.875rem;
    line-height: 1.5715;
    font-weight: 500;
    text-decoration: inherit;   
}

.css-signup-button {
    border-color: var(--border-color);
    border-radius: 15px;
    border-width: thin;
    padding: 2px 10px 2px 10px;
    color: var(--paragraph-gray);
    font-size: 0.875rem;
    line-height: 1.5715;
    font-weight: 500;
    text-decoration: inherit;
}

.css-signup-button:hover {
    border-color: var(--border-color);
    border-radius: 15px;
    border-width: thin;
    padding: 2px 10px 2px 10px;
    color: var(--paragraph-white);
    font-size: 0.875rem;
    line-height: 1.5715;
    font-weight: 500;
    text-decoration: inherit;   
}

@media (max-width: 960px) {
    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        width: 100%;
        padding: 2rem 10px 2rem 10px;
    }
    
}