.container {
    font-family: 'Roboto Mono', monospace, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #0F172A;
    width: 100%;
    height: 6rem;
    position: fixed;
    z-index: 9999;
    top: 0;
    border-bottom-color: #A855F7;
    border-bottom-style: inset;
    border-bottom-width: thin;
}

.wrapper {
    width: 95%;
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.navigation {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    gap: 1rem;
}

.branding>p {
    color: #EBE8E6;
}

.divider {
    width: 1px;
    background: #80808073;
    height: 30px;
}

.links {
    color: #EBE8E6;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 1.5rem;
}

.wrapActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.active {
    color: #A855F7;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    background: #A855F7;
    color: white;
    padding: 6px 40px 6px 30px;
    border-radius: 4px;
}

.profile {
    margin-left: -2rem;
    margin-bottom: 6px;
}

/*   MENU DROPDOWN   */

.dropdownContainer {
    display: flex;
    margin: 0rem 0rem 0rem 0rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    left: 0rem;
    top: 6rem;
}

.dropdownWrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.dropdownNavigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #0F172A;
    padding: 1.5rem;
    gap: 4rem;
    border-right-color: #A855F7;
    border-right-width: thin;
    border-right-style: dotted;
    height: 100vh;
    border-radius: 0px;
    width: 10rem;
    overflow-y: scroll;
}

.dropdownNavigation::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.dropdownDivider {
    width: 30px;
    background: #80808073;
    height: 1px;
}


.icons>svg>path {
    fill: transparent;
    stroke: rgb(0 0 0);
    stroke-width: 1px;
}


/* ====================  MEDIA QUERIES  ==================== */

@media (max-width: 1024px) {
    .dropdownDivider {
        display: none;
    }
}

@media (max-width: 640px) {
    .navigation {
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    .dropdownDivider {
        display: none;
    }

}

@media (max-width: 480px) {

    .links {
        color: #EBE8E6;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        gap: 1.5rem;
    }

    .dropdownContainer {
        display: flex;
        margin: 0rem 0rem 0rem 0rem;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 50;
        left: 0rem;
        top: 6rem;
    }

    .dropdownWrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .dropdownNavigation {
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        background: #0F172A;
        padding: 1.5rem;
        gap: 4rem;
        border-radius: 0px;
        width: 20rem;
        height: 100vh;
        overflow-y: scroll; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        background: #0F172A;
        padding: 0.5rem;
        gap: 1rem;
        border-radius: 0px;
        width: 12rem;
        height: 90vh;
        overflow-y: scroll;
    }

}