:root {
    --color-black: #0D0D0D;
    --color-blue: #5987A1;
    --color-blue-strong: #72CCFF;
    --color-blue-card: #0C4765;
    --color-white: #fff;
    --color-white-light: #F0F0F0;
    --color-white-gray: #C2C2C2;
    --color-gray: #171717;
}

.content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
}

/* ===================== HEADER ===================== */
.backgroundColor {
    background: var(--color-black);
    margin-bottom: 12rem;
}


.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--color-black);
    position: fixed;
    z-index: 999;
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 90%;
}

.headerImg {
    background: #0C1B45;
    border-radius: 20px;
    backface-visibility: hidden;
    margin: 5px;
    padding: 5px 10px 5px 10px;
}

/* ======================= HERO ======================= */
.heroWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
    padding: 3rem;
    margin-bottom: 8rem;
}

.buttonOne {
    background: #72CCFF;
    padding: 1.2rem;
    border-radius: 25px;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
    font-size: 0.7rem;
    width: 12rem;
}

.buttonTwo {
    background: #72CCFF;
    padding: 1.2rem;
    border-radius: 25px;
    color: black;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
    font-size: 0.7rem;
    width: 12rem;
}

.landingImage {
    box-shadow: -3px 1px 46px 4px rgba(100, 248, 255, 0.75);
    -webkit-box-shadow: -3px 1px 46px 4px rgba(100, 248, 255, 0.75);
    -moz-box-shadow: -3px 1px 46px 4px rgba(100, 248, 255, 0.75);
}

/* SPONSORS */

.sponsorsContainer {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.sponsorOne {
    background: var(--color-blue-strong);
    height: 4rem;
    width: 99%;
    margin-top: -4rem;
    transform: rotate(359deg);
    overflow: hidden;
}

.sponsorTwo {
    background: var(--color-blue);
    height: 4rem;
    width: 99%;
    transform: rotate(5deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    overflow: hidden;
}

.sponsorBrandings {
    transform: rotate(360deg);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12rem;
    margin-top: 1rem;
}

.sponsorText {
    color: #0D0D0D;
    font-weight: 900;
    font-size: 1.5rem;
    opacity: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Audit Secutiry */
.auditSecutiryContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.auditSecutiryWrapper {
    display: flex;
    width: 90%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.auditSecutiryOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 50%;
    gap: 2rem;
}

.spyglassImage {
    border-color: var(--color-blue-strong);
    border-width: 2px;
    padding: 1rem;
    border-radius: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* FAQ */
.faqWrapper {
    width: 100%;
    background: var(--color-gray);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    gap: 5rem;
}

.faqButton {
    border-color: var(--color-blue-strong);
    border-width: 2px;
    padding: 1rem;
    border-radius: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqImage {
    box-shadow: -2px 0px 42px 31px rgba(12, 27, 89, 0.6);
    -webkit-box-shadow: -2px 0px 42px 31px rgba(12, 27, 89, 0.6);
    -moz-box-shadow: -2px 0px 42px 31px rgba(12, 27, 89, 0.6);
    background: #0C1B45;
    border-radius: 20px;
    backface-visibility: hidden;
    margin: 5px;
    padding: 5px;
}

/* ================= MEDIA QUERIES ================= */

@media (max-width: 1952px) {

    .buttonOne {
        background: #72CCFF;
        padding: 1.2rem;
        border-radius: 25px;
        color: black;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 600;
        font-size: 0.7rem;
        width: 8rem;
    }

    .buttonTwo {
        background: #72CCFF;
        padding: 1.2rem;
        border-radius: 25px;
        color: black;
        padding-left: 2rem;
        padding-right: 2rem;
        font-weight: 600;
        font-size: 0.7rem;
        width: 8rem;
    }

    .auditSecutiryOne {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
    }

    .auditSecutiryTXT {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .spyglassImage {
        border-color: var(--color-blue-strong);
        border-width: 2px;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 60px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .faqButton {
        border-color: var(--color-blue-strong);
        border-width: 2px;
        padding: 1rem;
        border-radius: 60px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}