/* ROOT VARIABLES */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 12px;
}

body {
    background: #0F172A;
    font-family: Roboto Mono, sans-serif;
    min-height: 100vh;
    color: var(--color-dark)
}

img {
    width: 100%;
}

h1 {
    font-size: 2.2rem;
}

_ h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.86rem;
    font-weight: 500;
}

h6 {
    font-size: 0.76rem
}

p {
    font-size: 0.86rem;
    color: var(--color-gray-dark);
}

small {
    font-weight: 300;
    font-size: 0.77rem
}

.text_muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.purple {
    color: var(--color-purple);
}

.bg_primary {
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg_danger {
    /* background: var(--color-danger-light); */
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg_success {
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg_purple {
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg_dark {
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

/* ================ PACKAGES ================ */
.main {
    display: flex;
    width: 100%;
    margin: 0rem 0rem 0rem;
    background: #0F172A;
    flex-direction: row;
    overflow-y: hidden;
    align-items: center;
    align-content: center;
}

/* .main {
    display: grid;
    grid-template-columns: 16rem auto 16rem;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
} */

.section {
    display: flex;
    width: 100%;
    gap: 1rem;
    overflow-x: scroll;
    overflow-x: hidden;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.container {
    margin-top: 8rem;
    width: 100%;
    display: flex;
    height: 100vh;
    background: #0F172A;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.wraper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 6rem;
    margin-bottom: 15rem;
    position: fixed;
    overflow-x: scroll;
    overflow-y: hidden;
}

.title {
    color: white;
}

.title>h1 {
    width: 100%;
    font-family: 'roboto';
     color: white;
    
}

.title>p {
    font-size: 12px;
    width: 76%;
    font-family: 'roboto';
     color: white;
}

.scrollingwrapper {
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.card {
    display: inline-block;
    width: 32rem;
    height: 10rem;
    background: green;
    gap: 1rem;
}

.packages {
    display: flex;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap: 1rem;
    background: #0F172A;
    word-break: break-word;
    box-shadow: var(--border-radius-1);
}

.package {
    width: 50rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 4rem;
    word-break: break-word;
    padding: var(--card-padding);
    border-width: 1px;
    border-style: revert-layer;
    cursor: pointer;
    color: white;
    border-color: #00000000;
    background: #a855f708;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fglow-bottom.svg?alt=media&token=7696150a-dc9e-4e02-aaa4-e54a490ff873);
    box-shadow: 0px -3px 33px 7px rgb(0 0 0 / 14%);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.package:hover {
    box-shadow: -1px 2px 20px -5px rgba(34, 51, 68, 0.75);
    -webkit-box-shadow: -1px 2px 20px -5px rgba(34, 51, 68, 0.75);
    -moz-box-shadow: -1px 2px 20px -5px rgba(34, 51, 68, 0.75);
}

/* .package>button {
    background: var(--color-dark);
    color: var(--color-white);
    font-size: 0.8em;
} */

.package>a {
    background: var(--color-dark);
    color: var(--color-white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.packageButton {
    background: #2D394C;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-left: 2rem;
    padding-right: 2rem;
}

.packageButton:hover {
    background: #A855F7;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    border-radius: 5px;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
}

.packageContainerInfo {
    display: flex;
    width: 90%;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.packageInformation {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #131C2F;
    border-style: inherit;
    border-width: 5px;
    border-color: #131C2F;
    padding: 0.5rem;
}

.packageInformation>p {
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-stretch: condensed;
}

/* =================== MEDIA QUERIES FOR TABLETS  =================== */
@media screen and (max-width: 1248px) {

    .package {
        width: 50rem;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 4rem;
        word-break: break-word;
        padding: var(--card-padding);
        border-width: 1px;
        border-style: revert-layer;
        cursor: pointer;
        color: white;
        border-color: #00000000;
        background: #a855f708;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fglow-bottom.svg?alt=media&token=7696150a-dc9e-4e02-aaa4-e54a490ff873);
        box-shadow: 0px -3px 33px 7px rgb(0 0 0 / 14%);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 1024px) {
    .main {
        grid-template-columns: 1fr;
    }

    .package {
        width: 50rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 4rem;
    word-break: break-word;
    padding: var(--card-padding);
    border-width: 1px;
    border-style: revert-layer;
    cursor: pointer;
    color: white;
    border-color: #00000000;
    background: #a855f708;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fglow-bottom.svg?alt=media&token=7696150a-dc9e-4e02-aaa4-e54a490ff873);
    box-shadow: 0px -3px 33px 7px rgb(0 0 0 / 14%);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    }
}

@media screen and (max-width: 700px) {

    .package {
        width: 50rem;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 4rem;
        word-break: break-word;
        padding: var(--card-padding);
        border-width: 1px;
        border-style: revert-layer;
        cursor: pointer;
        color: white;
        border-color: #00000000;
        background: #a855f708;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fglow-bottom.svg?alt=media&token=7696150a-dc9e-4e02-aaa4-e54a490ff873);
        box-shadow: 0px -3px 33px 7px rgb(0 0 0 / 14%);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title>h1 {
    width: 80%;
    font-family: 'roboto';
     color: white;
    
}
}

/* =================== MEDIA QUERIES FOR MOBILE PHONES  =================== */
@media screen and (max-width: 500px) {

    .package {
        width: 24rem;
        margin-top: 5rem;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        gap: 4rem;
        word-break: break-word;
        padding: var(--card-padding);
        border-width: 1px;
        border-style: revert-layer;
        cursor: pointer;
        color: white;
        border-color: #00000000;
        background: #a855f708;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fglow-bottom.svg?alt=media&token=7696150a-dc9e-4e02-aaa4-e54a490ff873);
        box-shadow: 0px -3px 33px 7px rgb(0 0 0 / 14%);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .title>h1 {
    width: 80%;
    font-family: 'roboto';
     color: white;
    
}
}