html {
    scroll-behavior: smooth;
}

.ReferralDashboardContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #0F172A;
    overflow: hidden;
}

.ReferralDashboardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ReferralLeft {
    width: 50%;
    height: 100%;
    background: #0F172A;
    border-right-style: dotted;
    border-right-color: #A855F7;
    border-right-width: thin;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: top;
    background-origin: content-box;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fglow-top.svg?alt=media&token=19bcb82e-3b7f-4ecb-9a48-19521e5bc882);
    background-repeat: no-repeat;
    justify-content: center;
    align-content: center;
}

.ReferralLeftWrapper {
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
}

.ReferralLeftWrapper>h2 {
    font-size: xx-large;
    color: #D2D7E2;
    text-align: center;
    word-break: break-all;
    font-weight: 900;
}

.ReferralLeftWrapper>p {
    font-size: smaller;
    color: #C6CCD5;
    font-weight: 300;
    text-align: justify;
}

.ReferralLeftWrapper>button {}

.ReferralRight {
    width: 50%;
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-origin: content-box;
    /* background-size: cover; */
    background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fcities%2Fpexels-essow-k-936722.jpg?alt=media&token=404a0e9d-f493-4469-aaed-6f57b51e7e07);
}


.buttons {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.buttonReferNow {
    background: #A855F7;
    color: white;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    border-radius: 16px;
    height: 3rem;
    padding: 0px 52px 0px 52px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (max-width: 720px) {
    .ReferralRight {
        display: none;
    }
    .ReferralLeft {
        width: 90%;
        height: 100%;
        background: #0F172A;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-position: top;
        background-origin: content-box;
        background-image: url(https://firebasestorage.googleapis.com/v0/b/capitaltraderscorp.appspot.com/o/images%2Fglow-top.svg?alt=media&token=19bcb82e-3b7f-4ecb-9a48-19521e5bc882);
        background-repeat: no-repeat;
        justify-content: center;
        align-content: center;
    }
}